body {
  background-color: #0052d0 !important;
}

// custom fonts
@font-face {
  font-family: NKA;
  src: ("/public/fonts/NKA/NotoKufiArabic-Thin.ttf");
  weight: 400;
}
@font-face {
  font-family: NKA;
  src: ("/public/fonts/NKA/NotoKufiArabic-Medium.ttf");
  weight: 500;
}
@font-face {
  font-family: NKA;
  src: ("/public/fonts/NKA/NotoKufiArabic-Bold.ttf");
  weight: 600;
}
